@using System.Web.Optimization
@using Blocks.Framework.Web.Mvc.Extensions
@using Blocks.Framework.Web.Mvc.UI.Resources

<div class="table-responsive" style="padding: 2px; height: 100%">
    <div style="height: 100%">
        <table id="gridInfo"></table>
    </div>
    
</div>