@using System.Web.Optimization
@using Blocks.Framework.Web.Mvc.Extensions
@using Blocks.Framework.Web.Mvc.UI.Resources
@{
        Layout = ResourceManager.GetTemplateNotCache("Tradition/_LayoutPartialModule", this.VirtualPath);
    // Style.Include("IndexCss.css").AtHead();
}

<div class="modal-dialog">
    <form name="tenantCreateForm" role="form" novalidate class="form-validation modal-body">
        <div class="row">
            
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group form-float  ">
                    <div class="form-line">
                        <input class="form-control" type="text" name="TenancyName" v-model='tenancyName' required maxlength="10" minlength="2">
                        <label class="form-label">TenancyName</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group form-float ">
                    <div class="form-line">
                        <input type="text" name="Name" class="form-control" required maxlength="10">
                        <label class="form-label">@L("Name")</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group ">
                    <div >
                        <label class="form-label">city</label>
                        @*                    <input id="city" name="city">*@
                        <select id="city" name="city" class="form-control" v-select2='' v-model='city'>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group ">
                    <div >
                        <label class="form-label">combobox</label>
                        @*                    <input id="city" name="city">*@
                        <select id="combobox" name="combobox" class="form-control" v-select2='' v-model='combobox'>

                        </select>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" id="registerTime" name="registerTime" class="form-control" v-model='registerTime' required>
                        <label class="form-label">注册时间</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group form-float ">
                    <div class="form-line">
                        <input type="email" name="AdminEmailAddress" class="form-control" required maxlength="10" v-model='email'>
                        <label class="form-label">AdminEmailAddress</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <div class="form-group checkbox">
                    <input type="checkbox" name="IsActive" value="true" id="CreateTenantIsActive" class="filled-in" v-model='isActive'/>
                    <label for="CreateTenantIsActive">IsActive</label>
                </div>
            </div>
            
            @*            <div class="col-sm-12 col-md-6 col-lg-6 ">*@
            @*                <div class="form-group">*@
            @*                    <p>*@
            @*                        <input type="radio" name="gender" value="true" id="gender1"  />*@
            @*                        <label for="gender">男</label>*@
            @*                        <input type="radio" name="gender" value="true" id="gender2"   />*@
            @*                        <label for="gender">女</label>*@
            @*                    </p>*@
            @*                  *@
            @*                </div>*@
            @*            </div>*@
            <div class=" col-sm-12 col-md-12 col-lg-12">
                <div class="form-group form-float ">
                    <div class="form-line">
                        <textarea class="form-control"  name="comment"   id="comment"  v-model='comment' ></textarea>
                        <label class="form-label">comment</label>
                    </div>
                </div>
            </div>
        </div>
        <table id="gridInfo"></table>
        
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect waves-light"   v-on:click="cancelClick"  data-dismiss="modal"><em class="fa fa-close"></em>&nbsp;Cancel</button>
        <button type="button" class="btn btn-primary waves-effect waves-light" v-on:click="saveClick" ><em class="fa fa-plus"></em>&nbsp;Save</button>
    </div>
</div>
 
