@using System.Web.Optimization
@using Blocks.Framework.Web.Mvc.Extensions
@using Blocks.Framework.Web.Mvc.UI.Resources

@{
    Layout = ResourceManager.GetTemplateNotCache("Tradition/_LayoutModule", this.VirtualPath);
    // Style.Include("IndexCss.css").AtHead();
}
@section body
{

}



<div class="card table-responsive" style="padding: 2px; ">
    <table id="gridInfo"></table>
</div>