@using System.Web.Optimization
@using Blocks.Framework.Web.Mvc.Extensions
@using Blocks.Framework.Web.Mvc.UI.Resources

@{
    Layout = ResourceManager.GetTemplateNotCache("Tradition/_LayoutModule", this.VirtualPath);
    // Style.Include("IndexCss.css").AtHead();
}
@section body
{

}


<div class="table-responsive" style="padding: 2px; height: 100%">
    <div style="height: 100%">
        <table id="gridInfo"></table>
    </div>
    
</div>