@using System.Web.Optimization
@using Blocks.Framework.Web.Mvc.Extensions
@using Blocks.Framework.Web.Mvc.UI.Resources

@{
    Layout = ResourceManager.GetTemplateNotCache("Tradition/_LayoutModule", this.VirtualPath);
    // Style.Include("IndexCss.css").AtHead();
}
@section body
{

}


<div class="table-responsive" style="padding: 2px; height: 100%">
    <div id='query'>
        <select id="city" name="city"  v-model='city' v-select2=''  >
                   
        </select>
        <button id="add" style="height: 20px" v-action:edit v-on:click="addClick">新增</button>
        <button id="query" style="height: 20px" v-action:query v-on:click="queryClick">查询</button>
        <select id="cityTest" name="cityTest"  v-model='cityTest'   >
            <option id="china">china</option>
            <option id="us">us</option>

        </select>
    </div>

    @*    <div style="top: 0px;bottom: 0px;position: absolute">*@
    <div>
        <table id="gridInfo"></table>
    </div>

</div>