 
@{
    
}
@{
    Script.Require("jQuery").AtHead();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Index
        123123123123123123123
    </div>
</body>
</html>
