@using Blocks.Framework.Web.Mvc.Extensions
 
@{
    Script.Require("jQuery").AtHead(); 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.IncludeScript(ResourceManager.GetRegisteredHeadScripts())
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Index
        123123123123123123123
    </div>
</body>
</html>
